.container {
  display: flex;
  flex-direction: row;
}

.wrapContainer {
  overflow: hidden;
  width: 80%;
  height: 8vh;
}

.boxContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  transition-property: right;
  transition-duration: 0.2s;
}
.disable {
  background-color: #dcdcdc;
}
