.container {
    margin: 2% 0 2% 0;
    display: flex;
  .button {
    text-align: left;
    cursor: pointer;
    border: 1px #dcdcdc solid;
    border-radius: 3px;
    padding: 1% 2%;
    &:hover {
      background-color: #dcdcdc;
    }
  }
}
