.container {
  .inputWarper {
    width: fit-content;
    border: 1px #dbdbdb solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 2% 2%;
    input {
      text-align: center;
      border: 0;
      width: 100%;
      max-width: 80px;
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
